@tailwind base;
@tailwind components;
@tailwind utilities;

/* text-5xl */
h1 {
  font-size: 48px;
}

/* text-4xl */
h2 {
  font-size: 36px;
}

/* text-3xl */
h3 {
  font-size: 30px;
}

/* text-2xl */
h4 {
  font-size: 24px;
}

/* text-xl */
h5 {
  font-size: 20px;
}

/* text-lg */
h6 {
  font-size: 18px;
}

/* text-base */
p {
  font-size: 14px;
}
