@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }
} */

/* text-5xl */
h1 {
  font-size: 48px;
}

/* text-4xl */
h2 {
  font-size: 32px;
}

/* text-3xl */
h3 {
  font-size: 24px;
}

/* text-base */
p {
  font-size: 14px;
}
